<% unless eval("@#{type}").nil? || eval("@#{type}").empty? %>
  <h5><%= "#{type}".capitalize %></h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="300">Name</th>
        <th width="100">Price</th>
        <th width="100">Units</th>
        <% if controller.controller_name == 'orders' && logged_in? && current_user.role?(:customer) %>
          <th width="100">&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% eval("@#{type}").each do |item| %>
        <% unless item.current_price.nil? %>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= number_to_currency item.current_price %></td>
          <td><%= item.units_per_item %> 
              <% if item.category == 'bread' && item.units_per_item == 1 %>
                <%= 'loaf' %>
              <% elsif item.category == 'bread' && item.units_per_item > 1 %>
                <%= 'loaves' %>
              <% else %>
                <%= item.category %>
              <% end %>
          </td>
          <% if controller.controller_name == 'orders' && logged_in? && current_user.role?(:customer) %>
            <td>
              <%= link_to(add_to_cart_path(:id => item.id), class: 'button tiny radius') do %>
                &nbsp;Add to Cart&nbsp;
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>