<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <ul class="left">
        <!-- link to home -->
        <li><%= link_to "Home", home_path %></li>
        <% if !logged_in? %>
          <li class="right">
            <%= link_to "View Menu", menu_path %>
          </li>
        <% end %>
        <% if logged_in? && (current_user.role?(:admin) || current_user.role?(:customer)) %>
          <!-- options for orders -->
          <li class="has-dropdown">
            <%= link_to "Orders", orders_path %>
            <ul class="dropdown">
            <% if current_user.role?(:admin) %>
              <li><%= link_to "All Orders", orders_path %></li>
            <% else %>
              <li><%= link_to "My Orders", orders_path %></li>
            <% end %>
              <li><%= link_to "Order From Our Menu", menu_path %></li>
            </ul>
          </li>

          <!-- options for addresses -->
          <li class="has-dropdown">
            <%= link_to "Addresses", addresses_path %>
            <ul class="dropdown">
            <% if current_user.role?(:admin) %>
              <li><%= link_to "All Addresses", addresses_path %></li>
            <% else %>
              <li><%= link_to "My Addresses", addresses_path %></li>
            <% end %>
              <li><%= link_to "Add an Address", new_address_path %></li>
            </ul>
          </li>
          <!-- options for items -->
          <% if logged_in? && current_user.role?(:admin) %>
            <li class="has-dropdown">
              <%= link_to "Items", items_path %>
              <ul class="dropdown">
                <li><%= link_to "All Items", items_path %></li>
                <li><%= link_to "Add an Item", new_item_path %></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <%= link_to "Customers", customers_path %>
              <ul class="dropdown">
                <li><%= link_to "All Customers", customers_path %></li>
                <li><%= link_to "Add a Customer", new_customer_path %></li>
              </ul>
            </li>
          <% else %>
            <li class="right">
              <%= link_to "Menu", menu_path %>
            </li>
          <% end %>
        <% end %>
        </ul>
        <ul class="right">
          <li class="right">
          <% if logged_in? %>
            <%= link_to 'Logout', logout_path %>
          </li>
          <% if logged_in? && current_user.role?(:customer) %>
            <li class="has-dropdown"><%= link_to "Hello, #{current_user.customer.first_name}", customer_path(current_user.customer) %>
              <ul class="dropdown">
                <li><%= link_to "Edit my information", edit_customer_path(current_user.customer) %></li>
              </ul>
            </li>

            <li><%= link_to "My Cart", cart_path %></li>
          <% else %>
           <li><%= link_to "#{current_user.username}:#{current_user.role }" %></li>
          <% end %>
          <% else %>
            <li><%= link_to "Sign up", signup_path %><li>
            <li><%= link_to 'Login', login_path %></li>
          <% end %>
        
        </ul>

        

    </section>
  </nav>
</div>