<%= simple_form_for @item_price, html: { :class => 'form-horizontal' }, remote: true do |f| %>
    <%= f.input :price, label: "Price", input_html: {class: "avg"} %>
    <%= f.input :start_date, label: "Start Date", input_html: {:id => "datepicker"} %>
    
  
    <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
      <%= link_to 'Cancel', items_path, class: 'button radius alert' %>
    </div>
<% end %>