<h3>Welcome, <%= current_user.customer.first_name %>.</h3>
<em>Thank you for being a customer since <%= current_user.customer.created_at.year %></em>
<br /><br />
<div class="row">
  <div class="small-7 columns">
    <div class="panel callout">
      <h4>Currently Trending Breads</h4>
      <%= image_tag 'muffins.jpg', :class=>'small_icon' %>
      <p>Whether you’re eating them on the go or serving them up at brunch, muffins are a classic, and for good reason. This is currently the most popular type of bread we offer at BreadExpress! </p>
      <%= link_to "See Our Muffins", muffins_path, class: 'button success' %>
    </div><br />
    <div class="panel callout">
      <h4>What Other Customers Are Looking At Right Now</h4>
      <%= link_to image_tag 'pastry.jpg', :class=>'smaller_icon' %><%= link_to image_tag 'pastry2.jpg', :class=>'smaller_icon' %><%= link_to image_tag 'cinammon.jpg', :class=>'smaller_icon' %>
    </div>
  </div>
  <div class="small-1 columns">
    &nbsp;
  </div>
  <div class="small-4 columns">
    <div class="panel clearfix">
      <h4>My profile</h4>
        <p>
          <%= link_to "Account Information", customer_path(current_user.customer) %><br />
          <%= link_to "My Addresses", addresses_path %><br />
          <%= link_to "My Orders", orders_path %>
        </p>
    </div>
  </div>
</div>


