<h3><%= @customer.proper_name %></h3>

<p>
  <b>Phone</b>: <%= number_to_phone @customer.phone %>
</p>

<p>
  <b>Email</b>: <%= mail_to @customer.email, @customer.email, encode: "javascript" %>
</p>

<p>
  <b>Username</b>: <%= @customer.user.username %>
</p>

<% if logged_in? && current_user.role?(:admin) %>
  <p>
    <b>Active</b>: <%= @customer.active ? 'Yes' : 'No' %>
  </p>
<% end %>

<p>
  <em>A Bread Express customer since <%= @customer.created_at.year %>.</em>
</p>

<%= render partial: 'address_info' %>
<% if logged_in? && current_user.role?(:customer) %>
  <%= link_to "My Addresses", addresses_path, class: 'button success' %> &nbsp; <%= link_to "Edit my information", edit_customer_path(current_user.customer), class: 'button success' %>
<% end %>