<div class="field">
  <%= f.label :username %>
  <%= f.text_area :username, input_html: {class: "avg"} %>
</div>
<div class="field">
  <%= f.label :password %>
  <%= f.text_area :password, input_html: {class: "avg"} %>
</div>
<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.text_area :password_confirmation, input_html: {class: "avg"} %>
</div>
<div class="field">
  <%= f.label :role %>
  <%= f.text_area :role, :collection => User::ROLES, :prompt => true, input_html: {class: "avg"} %>
</div>