<div class="field">
  <%= f.label :username %>
  <%= f.text_field :username, input_html: {class: "avg"} %>
</div>
<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password, input_html: {class: "avg"} %>
</div>
<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, input_html: {class: "avg"} %>
</div>
<% if logged_in? && current_user.role?(:admin) %>
  <div class="field">
    <%= f.label :role %>
    <%= f.select :role, User::ROLES %>
  </div>
<% else %>
  <%= f.hidden_field :role %>
<% end %>