<% if @all_cart_items.empty? %>
  <h4 class="center">No items currently in your cart.</h4>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="300">Item</th>
        <th width="100">Price</th>
        <th width="100">Quantity</th>
        <% if controller.controller_name == 'orders' %>
          <th width="100">&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @all_cart_items.each do |order_item| %>
        <tr>
          <td><%= link_to order_item.item.name, item_path(order_item.item) %></td>
          <td><%= number_to_currency order_item.item.current_price %></td>
          <td><%= order_item.quantity %> <%= order_item.item.category == 'bread' ? 'loaf' : order_item.item.item.category %></td>
          <td><%= link_to "Delete from my cart", remove_from_cart_path(:id => order_item.item.id), class: 'button tiny radius' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Checkout my cart", new_order_path, class: 'button success' %> <%= link_to "Back to the menu", menu_path, class: 'button success' %>
<% end %>
