<% if !logged_in? %>
  <p>Please <%= link_to "log in", login_path %> to order. Don't have an account? 
     Register <%= link_to "here", signup_path %>. 
  </p>
<% end %>
<%= render partial: "partials/item_list", locals: { type: 'breads' } %>
<%= render partial: "partials/item_list", locals: { type: 'muffins' } %>
<%= render partial: "partials/item_list", locals: { type: 'pastries' } %>
