<div id="item_detailss">
<div class="row">
  <div class="small-6 columns">
    <h3><%= @item.name %></h3>
    <p>
      <em><%= @item.description %></em>
    </p>
    <% if @item.picture.blank? %>
      <% if logged_in? && current_user.role?(:admin) %>
        <em>There is currently no picture available. Please add one <%= link_to "here.", edit_item_path(@item) %></em>
      <% end %>
      <p><%= image_tag 'img_not_available.png' %></p>
    <% else %>
      <p><%= image_tag @item.picture %></p>
    <% end %>
  </div>


  <br><br><br>

  <div class="panel small-6 columns">
    <p>
      <b>Category</b>: <%= @item.category.capitalize %>
    </p>

    <p>
      <b>Units</b>: <%= @item.units_per_item %>
    </p>

    <p>
      <b>Total weight</b>: <%= @item.weight %> lbs.
    </p>

    <% if logged_in? && current_user.role?(:admin) %>
      <p>
        <b>Active</b>: <%= @item.active ? 'Yes' : 'No' %>
      </p>
    <% end %>
    <p>
      <b>Current Price</b>: <%= number_to_currency @item.current_price %>&nbsp;&nbsp;
      <% if logged_in? && current_user.role?(:admin) %>
        <%= link_to(new_item_price_path(item_id: @item.id), id: 'new_price_link', class: 'button tiny radius', remote: true) do %>
          <i class="fa fa-clipboard"></i>&nbsp;Add Price
        <% end %>
      <% end %>
    </p>
  </div>
</div>
<% if !logged_in? %>
  <%= link_to "Explore our menu", menu_path, class: 'button success' %>
<% end %>


