<h3><%= @item.name %></h3>


<p>
  <em><%= @item.description %></em>
</p>

<p>
  <b>Category</b>: <%= @item.category %>
</p>

<p>
  <b>Units</b>: <%= @item.units_per_item %>
</p>


<p>
  <b>Active</b>: <%= @item.active ? 'Yes' : 'No' %>
</p>

