<h3><%= @item.name %></h3>


<p>
  <em><%= @item.description %></em>
</p>

<p>
  <% unless @item.picture.nil? %>
    <p><%= image_tag @item.picture %></p>
  <% end %>
</p>
  

<p>
  <b>Category</b>: <%= @item.category %>
</p>

<p>
  <b>Current Price</b>: <%= @item.current_price %>
  <% if logged_in? && current_user.role?(:admin) %>
    &nbsp;&nbsp;<%= link_to "Edit Price", edit_item_path %>
  <% end %>
</p>

<p>
  <b>Units</b>: <%= @item.units_per_item %>
</p>


<p>
  <b>Active</b>: <%= @item.active ? 'Yes' : 'No' %>
</p>

