<%= f.input :name, input_html: {class: "avg"} %>
<%= f.input :category, collection: [['Bread','bread'],['Muffins','muffins'],['Pastries','pastries']], include_blank: true, input_html: {class: "avg"} %>
<%= f.input :units_per_item, input_html: {class: "avg"} %>
<%= f.input :weight, input_html: {class: "avg"} %>
<%= f.input :description, input_html: {class: "avg"} %>
<div class="avg">
  <%= f.label :picture %>
  <%= f.file_field :picture %>
</div>
