<div class="row">
    <%= render partial: "item_details" %>
</div>
<% if logged_in? && current_user.role?(:admin) %>
  <div class="row">
    <div class="small-7 columns">
      <h4>Price History</h4>
      <%= render partial: "price_history" %>
    </div>
  </div>
<% end %>
<% if logged_in? && current_user.role?(:customer) %>
  <div class="row">
    <div class="small-7 columns">
      <%= render partial: "related_items" %>
    </div>
  </div>
<% end %>

<!-- Add buttons to list all, edit project or destroy object -->
<% if !logged_in? || logged_in? && current_user.role?(:customer) %>
  <%= link_to "Back to the menu", menu_path, class: 'button radius' %>
<% elsif logged_in? && current_user.role?(:admin) %>
  <%= link_to "Display All Items", items_path, class: 'button radius' %>&nbsp;<%=link_to "Edit #{@item.name}", edit_item_path, class: 'button radius' %>
<% else %>
  <%= link_to "Display All Items", items_path, class: 'button radius' %>
<% end %>
